MYSQL_ROOT_PASSWORD=rootpassword
MYSQL_DATABASE=wordpress
MYSQL_USER=wordpress
MYSQL_PASSWORD=wordpress
WORDPRESS_TABLE_PREFIX=wp_

WP_URL=http://localhost:8080
WP_TITLE=Verein für Menschenwürde und Demokratie e.V.
WP_ADMIN_USER=admin
WP_ADMIN_PASSWORD=admin
WP_ADMIN_EMAIL=admin@wuerde-unantastbar.de
